# ignore all .joblib-files
*.joblib

.txt_saved.txt

aae.xml

tutorial_crf_suite.ipynb

crf_suite/git-prediction.txt

crf_suite/git-test-track2-uncovered

crf_suite/git-train-track2-uncovered

crf_suite/__pycache__/